.mobilemain-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mobilemain-mobilemain {
  width: 100%;
  height: 1099px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
 
.mobilemain-footer {
  top: 944px;
  left: 1px;
  width: 320px;
  height: 115.00003051757812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-text10 {
  top: 20.000028610229492px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-line5 {
  top: 0.00002797529123199638px;
  left: 0px;
  width: 320px;
  height: 1px;
  position: absolute;
}
 
.mobilemain-footercontents {
  top: 59.00002670288086px;
  left: 20px;
  width: 254px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-sns {
  top: 0px;
  left: 213px;
  width: 41px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text12 {
  top: 18px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-frame1 {
  top: 0px;
  left: 77px;
  width: 108px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-text13 {
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text14 {
  top: 32px;
  left: 1px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text15 {
  top: 18px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text16 {
  top: 46px;
  left: 1px;
  color: rgba(255, 161, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-frame2 {
  top: 0px;
  left: 0px;
  width: 49px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-text17 {
  top: 18px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text18 {
  top: 46px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text20 {
  top: 32px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-body {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 864px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-dots {
  top: 856px;
  left: 140px;
  width: 40px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-ellipse2 {
  top: 0px;
  left: 16px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-color: rgba(128, 128, 128, 1);
  border-style: solid;
  border-width: 0.5px;
}
 
.mobilemain-ellipse3 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.mobilemain-ellipse4 {
  top: 0px;
  left: 32px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-color: rgba(128, 128, 128, 1);
  border-style: solid;
  border-width: 0.5px;
}
 
.mobilemain-categoryitem1 {
  top: 566px;
  left: 20px;
  width: 280px;
  height: 280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-bag {
  top: 78px;
  left: 70.036376953125px;
  width: 140.15585327148438px;
  height: 123.30335998535156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-vector1 {
  top: 0px;
  left: 45.661170959472656px;
  width: 49px;
  height: 24px;
  position: absolute;
}
 
.mobilemain-vector2 {
  top: 69.570556640625px;
  left: 0px;
  width: 140px;
  height: 54px;
  position: absolute;
}
 
.mobilemain-vector3 {
  top: 31.326162338256836px;
  left: 0px;
  width: 140px;
  height: 29px;
  position: absolute;
}
 
.mobilemain-vector4 {
  top: 59.5853271484375px;
  left: 65.697998046875px;
  width: 9px;
  height: 13px;
  position: absolute;
}
 
.mobilemain-text21 {
  top: 217px;
  left: 107px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text22 {
  top: 510px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-sub-title {
  top: 474px;
  left: 0px;
  width: 135px;
  height: 28.000011444091797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-text26 {
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-line4 {
  top: 28px;
  left: 0px;
  width: 135px;
  height: 1px;
  position: absolute;
}
 
.mobilemain-mainview {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 440px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-mainimg {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 440px;
  display: flex;
  overflow: hidden;
  position: absolute;
  mask-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  align-items: flex-start;
  flex-shrink: 1;
  -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}
 
.mobilemain-image {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 440px;
  position: absolute;
}
 
.mobilemain-maintitle {
  top: 162px;
  left: 20px;
  width: 281px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text28 {
  left: 160px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Noto Serif JP;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-text29 {
  top: 227px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Serif JP;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobilemain-header {
  top: 20px;
  left: 280px;
  width: 20px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-hamburgermenu {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mobilemain-line1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 1px;
  position: absolute;
}
 
.mobilemain-line2 {
  top: 6px;
  left: 0px;
  width: 20px;
  height: 1px;
  position: absolute;
}
 
.mobilemain-line3 {
  top: 12px;
  left: 0px;
  width: 20px;
  height: 1px;
  position: absolute;
}
