*{
    margin : 0;
    padding : 0;
}

img{
    position : absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.maintext{
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mix-blend-mode: exclusion;
}

h1{
    color: white;
}

p{
    color: white;
}

header{
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 3;
}

#navigation{
    position: absolute;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    background: black;
    opacity: 80%;
    mix-blend-mode: multiply;
    z-index: 4;
    transition: 0.5s;
}

#navigation ul li{
    list-style: none;
}

#navigation ul li a{
    text-decoration: none;
    color: white;
}

#drawer-navigation{
    display: block;
    position: absolute;
    z-index: 5;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 21px;
    cursor: pointer;
}

#drawer-navigation .drawer-line{
    display: block;
    position: absolute;
    z-index: 6;
    right: 0;
    width: 40px;
    height: 1px;
    background: white;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.5s;
}

#drawer-navigation #line1{
    top: 0;
}

#drawer-navigation #line2{
    top: 10px;
}

#drawer-navigation #line3{
    bottom: 0;
}

.in{
    transform: translateX(-100%);
}

#drawer-navigation .line_1{
    transform: translateY(10px) rotate(-45deg);
}

#drawer-navigation .line_2{
    opacity: 0;
}

#drawer-navigation .line_3{
    transform: translateY(-10px) rotate(45deg);
}

.big{
transform: scale(110%);
transition: 0.5s;
}
